* {
  box-sizing: border-box;
  
}

html {
  background-color: #ddecee;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to top , rgba(255, 255, 255, 0.0), rgba(6, 54, 59,1));
  border-bottom: 2.5px solid #06363b;
}

main {
  margin: 0px 0px;
  he
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  color: white;
  padding-bottom: 10px;
}

p {
  font-family: cursive;
  font-size: 16px;
  color: white;
}

h2 {
  color: white;
  font-size: 16pt;
  font-weight: normal;
}

h2,
button {
  font-family: lobster;
}

#grid-body-wrapper{
    display: grid;
    grid-template-rows: 15% 70% 15%;
    height: 100vh;
}

#flex-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

#form-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%;
  grid-gap: 5%;
  margin: 0 auto;
  padding: 10px;
  height: 90%;
  width: 60%;
 

}

.search-engine {
  border: 3px solid red;
  color: rgb(15, 61, 65);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 25px 20px;
  border: 2px solid #06363b;
  background-color: #58a9b3; 
  transition: background-color 300ms ease-in, border-top-right-radius 1s, border-bottom-left-radius 1s, border-top-left-radius 1s, border-bottom-right-radius 1s, letter-spacing 1s, color 1s linear;
}


.course-heading {
  text-align: center;
  color: rgb(15, 61, 65);
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;

}

button {
  width: 40%;
  margin-top: 5px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

button:hover {
  background-color: rgb(207, 212, 207);
}

input {
  width: 100%;
  border-radius: 10px;
  background-color: #f7fbfb;
  border: none;
}

footer {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), rgba(	6, 54, 59,1));
  border-top: 2.5px solid #06363b;
}

.search-engine:hover{
  letter-spacing: 3px;
  background-color: #0094a1; 
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid white;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #052b30;
  transform: translateY(0.25em);
}

.search-engine:hover > h2 {
  color: white;
}



@media only screen and (max-width: 600px) {
  #form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px;
  }
}
