* {
  box-sizing: border-box;
  
}

html {
  background-color: #fff9f1;
  
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to top , rgba(	6, 54, 59,0.4), rgba(	6, 54, 59,1));
  border-bottom: 2px solid #06363b;
  
}

main {
  margin: 25px 0px;
}

h1 {
  text-align: center;
  font-family: "Proza Libre", sans-serif;
  font-size: 36px;
  color: white;
  
}

h2 {
  color: white;
  font-size: 16pt;
  font-weight: 900;
}

h2,
button {
  font-family: "Open Sans", sans-serif;
}

#grid-body-wrapper{
    display: grid;
    grid-template-rows: 15% 1fr 15%;
    height: 100vh;
    
}

#flex-main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#form-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: auto;
  

}

.search-engine {
  background-image: linear-gradient(to bottom right, rgba(13,118,128,0.5), rgba(13,118,128,1));
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #06363b;
}

.search-engine:hover {
  background-color: #12a7b5;
  letter-spacing: 1px;
  
}

.course-heading {
  text-align: center;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 200px;
}

button {
  width: 25%;
  margin-top: 5px;
  background-color: #fdf3e7;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

button:hover {
  background-color: #16c8d9;
}

input {
  width: 90%;
  background-color: #fdf3e7;
  border-radius: 10px;
}

footer {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(	6, 54, 59,0.3), rgba(		6, 54, 59,1));
  border-top: 2px solid #06363b;
}

@media only screen and (max-width: 600px) {
  #form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px;
  }
}
